<div class="container-login100 container text-center centrar-gif">
    <div>
        <img src="./../../../../assets/img/bubble-empty.png" height="330px">
        <p>{{message}}</p>
    </div>
    
</div>
<div class="col-xs-12 col-md-12 container-login100-form-btn p-t-8">
    <button (click)="onRetry()" type="button" class="login100-form-btn">
        <a target="_self">
            Reintentar 
            <img src="./../../../../assets/svg/retry.svg" alt="retry">
        </a>
    </button>
</div>