<app-nav></app-nav>

<div class="container col-12 col-md-8 col-lg-4">
    <app-search (submitted)="onSearch($event)"></app-search>

    <app-card
        *ngIf="!error && !loading"
        [weather]="currentWeather"
    ></app-card>

    <div *ngIf="loading">
        <img src="../../../assets/img/bubble-loading.gif" alt="loading">
        <p>Cargando...</p>
    </div>

    <div *ngIf="error">
        <img src="../../../assets/img/bubble-empty.png" alt="empty">
        <p>{{message}}</p>
    </div>
</div>

