@media (max-width: 320px) {
    .pts {
        font-size: 16px;
    }
}

@media (min-width: 321px) and (max-width: 1080px) {
    .pts {
        font-size: 20px;
    }
}

* { box-sizing:border-box; }

.group-input { 
    position:relative; 
    margin-bottom:30px; 
}

input {
    font-size: 15px;
    line-height: 2;
    color: #535353;
    display: block;
    width: 100%;
    background: #fff;
    height: 37px;
    border-bottom: 1px solid #919090;
    padding: 0 10px 0 10px;
    text-align: left;
    border-left: none;
    border-top: none;
    border-right: none;
}

input:focus {
    outline:none;
}

label {
    color:#999; 
    font-size:17px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:17px;
    color:#00a7c6;
}

.bar {
    position:relative; 
    display:block;
    width:100%; 
}

.bar:before, .bar:after {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#00a7c6; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.bar:before {
    left:50%;
}

.bar:after {
    right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}

input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}

.bottom{
    width: 100%;
    margin-top: 10px;
}

.required{
    font-size: 0.8rem;
}