<app-nav></app-nav>

<div *ngIf="!error">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-190 p-b-30" style="padding-top: 0px;">
                <form class="login100-form validate-form" [formGroup]="form" (ngSubmit)="signUp($event)">
                    <div class="login100-form-avatar" style="margin-bottom: 40px;"> 
                        <img src="./../../../assets/svg/init.svg" alt="AVATAR">
                     
                    </div>
                    <div class="col-12" style="margin-bottom: 15px;">
                        <div class="group-input">
                            <input formControlName="users_name" type="name" name="name" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label><i class="fa fa-user"></i>&nbsp; Nombre*</label>
                        </div>
                        <div class="space" *ngIf="hasNameErrorAndDirty">
                            <p class="required" *ngIf="form.get('users_name')?.hasError('required')">* Este campo es obligatorio</p>
                        </div>
                    </div>

                    <div class="col-12" style="margin-bottom: 15px;">
                        <div class="group-input">
                            <input formControlName="users_email" type="email" name="email" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label><i class="fa fa-user"></i>&nbsp; Correo electrónico*</label>
                        </div>
                        <div class="space" *ngIf="hasEmailErrorAndDirty">
                            <p class="required" *ngIf="form.get('users_email')?.hasError('required')">* Este campo es obligatorio</p>
                            <p class="required" *ngIf="form.get('users_email')?.hasError('pattern')">* Formato de correo inválido</p>
                        </div>
                    </div>

                    <div class="col-12" style="margin-bottom: 15px;">
                        <div class="group-input">
                            <input formControlName="users_password" type="number" required style="-webkit-text-security:disc" >
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label><i class="fa fa-lock"></i>&nbsp; Contraseña*</label>
                        </div>
                        <div class="space" *ngIf="hasPasswordErrorAndDirty">
                            <p class="required" *ngIf="form.get('users_password')?.hasError('required')">* Este campo es obligatorio</p>
                            <p class="required" *ngIf="form.get('users_password')?.hasError('minlength')">* Este campo debe contener mínimo 8 caracteres</p>
                        </div>
                    </div>
                    
                    <div class="col-12" style="margin-bottom: 15px;">
                        <div class="group-input">
                            <input formControlName="repeatPassword" type="number" name="repeatPassword" required style="-webkit-text-security:disc" >
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label><i class="fa fa-lock"></i>&nbsp; Confirmar contraseña</label>
                        </div>
                        <div class="space" *ngIf="hasRepeatPasswordDirty">
                            <p class="required" *ngIf="isEqualPassword">* Las contraseñas no coinciden</p>
                        </div>
                    </div>

                    <div class="container-login100-form-btn p-t-10">
                        <button [disabled]="form.invalid" type="submit"  class="login100-form-btn">
                            <a class="pts" target="_self">
                                Crear cuenta <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </button>     
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-error
    *ngIf="error"
    [message]="message_info"
    (retry)="onRetry()"
></app-error>
